body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Slider Index */

.texto-juegos-slider {
  top: 30%;
  right: 10%;
}

.texto-juegos-slider-persona {
  top: 30%;
  left: 17%;
}

.flecha-de {
  right: -66px;
}

.flecha-iz {
  left: -66px;
}

.flecha-de,
.flecha-iz {
  background-color: rgb(194, 194, 194);
  width: 5%;
  height: 50%;
  top: 25%;
}

.numero-juegos-carousel {
  bottom: -39px;
  background-color: rgb(206, 206, 206);
}


/* Contacto */
.form-control.success input {
	border-color: #2ecc71;
}
.form-control.error input {
	border-color: #e74c3c;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

@media (min-width: 0px) and (max-width: 768px) {
  .flecha-de,
  .flecha-iz,
  .texto-juegos-slider,
  .texto-juegos-slider-persona {
    display: none;
  }
}


